# Ignore Maven/Gradle
/target/
/build/

# Dependências
*.class
*.jar
*.war

# Configurações sensíveis
src/main/resources/application.properties
src/main/resources/application.yml
.env

# IDEs
.idea/
*.iml
.vscode/
*.swp

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db
